.dropdown-menu {
    background-color: #dee2e6;
}
.backpic {
    background-color:white
    
}

.headerbuild {
    margin: auto;
    width:50%;
    margin-bottom: 50px!important;
    margin-top: 50px;
    text-align: center;
    font-weight: 900;
    color: darkgreen;
    
}
.footerline {
    position:relative;
    top: 120px;
    margin-bottom:5%;
    color: darkgreen;
}
.headerbuild > a{
    color: darkgreen;
}
.jumbotron{
    padding-top: 0px!important;
}