.users-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textbuild {
    margin: auto;
    margin-bottom: 20px!important;
    margin-top: 20px;
    background-color: powderblue;
    text-align: center;
}
.padding {
    padding-bottom: 15px;
    text-align: center;
}
