.hebrew{
    direction: rtl;
    box-sizing: border-box;
    padding: 0px 16px;
    height: 100%;
    background: linear-gradient(to bottom, blue 0%, rgb(0,180,255) 100%)!important;
    
}
.navlink,.nav-link {
    color:white!important;
    font-weight: bold;
    flex-wrap: nowrap;
    

    
}
.navlink {
    height: 100%!important;
}
.different{
    color: rgb(150,150,150)!important;
    font-weight: bold;
    margin-right: 200px!important;
}

.different:hover {
    height: 100%; 
    text-decoration: underline;
}
.navlink:not(.different):hover{
    height: 100%;
    color:white!important;
    background-color: cadetblue;
    text-decoration: underline;
}
.nav-link:not(.different):hover{
    height: 100%;
    color:white!important;
    background-color: cadetblue;
    text-decoration: underline;

}
.diffcolor{
    background-color: #dee2e6;
    font-weight: bold;

}

.diffcolor:hover{
 color: blue;
 text-decoration: underline;
 font-weight: bold;

}
.diffcolor:focus:not(){
    display: hidden;
}
